@use "../styles/scss/variables" as *;

// -------  HOME PAGE

// Home page pictures Gallery

.gallery {
    display: grid;
    grid-template-columns: repeat(3, $kasa-accomodationCardWidth);
    gap: 48px;

    justify-content: center;
    align-items: center;

    padding: 48px;
    margin: 48px 0;

    border-radius: 16px;
    background: $kasa-lightgray;

    &__card {
        text-decoration: none;
        border-radius: 10px;
        position: relative;

        display: flex;
        flex-direction: column;
        row-gap: 48px;

        overflow: hidden;

        transform: scale(100%);
        transition: all 0.3s;

        &:hover {
            transform: scale(98%);
            filter: drop-shadow(-5px -5px 10px $kasa-cardShadow);
        }

        img {
            border-radius: 10px;
            object-fit: cover;
            aspect-ratio: 1/1;
        }

        p {
            position: absolute;
            bottom: 0;
            margin: 20px 24px;
            border-radius: 8px;

            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            color: white;
            line-height: 28px;
        }
    }

    &__cardLayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent 70%, black);
    }
}


// -------  ACCOMODATION PAGE 

.accomodationPage {

    .info {
        display: grid;
        grid-template-columns: 80% 20%;
        row-gap: 16px;
        margin: 16px 0;

        &__titles {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            p {
                font-size: 12px;
            }
        }

        &__owner {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &__tags {

            display: flex;
            column-gap: 16px;

            p {
                font-size: 10px;
                color: white;
                text-align: center;
                background: $kasa-color;

                border-radius: 10px;
                width: 96px;
                padding: 4px;
            }

        }

        &__rate {
            display: flex;
            justify-content: flex-end;

            svg {
                width: 16px;
                height: 16px;
            }

            .plainStar,
            .emptyStar {
                margin: 0 4px;
            }

            .plainStar {
                fill: $kasa-color;
            }

            .emptyStar {
                fill: lightgray;
            }
        }
    }

    .info__owner {
        p {
            font-size: 12px;
            text-align: right;
            line-height: 16px;
        }

        .ownerPix {
            width: 80px;
            aspect-ratio: 1/1;

            display: flex;
            align-items: center;
            text-align: center;
            margin: 0 8px;

            background: lightgray;

            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

    // Collapse component
    .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        padding: 16px 0;
    }
}


// -------  ABOUT PAGE 

.aboutPage {
    display: flex;
    flex-direction: column;

    .collapse__btn {
        width: $kasa-collapseAboutW;
    }

    .collapse__text--shown,
    .collapse__text--hidden {
        width: calc($kasa-collapseAboutW - 2px);
    }
}


// -------  404 ERROR PAGE

.errorpage {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 48px;
    row-gap: 48px;

    &__title {
        font-size: 128px;
        font-weight: bolder;
    }

    &__text {
        font-size: 16px;
        font-weight: 500;
    }

    &__link {
        font-size: 12px;
        margin: 16px;
    }
}


// -------  MEDIA QUERIES  ------- 

@media (max-width: 768px) {

    // HOME PAGE
    .gallery {
        grid-template-columns: none;
        gap: 16px;
        margin: 8px 0;
        padding: 0;

        border-radius: none;
        background: none;
    }

    // ACCOMODATION PAGE
    .accomodationPage {
        &__coverImg {
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 16px;
        }

        .arrowContainer {

            .arrowLeft,
            .arrowRight {
                width: 24px;
            }
        }

        h1 {
            font-size: 16px;
        }

        .info {
            grid-template-columns: repeat(2, 1fr);

            &__titles {
                grid-column: span 2;
            }

            &__tags {
                order: 02;
                grid-column: span 2;
                align-items: center;
            }

            &__owner {
                order: 04;

                .ownerPix {
                    font-size: 8px;
                }
            }

            &__rate {
                order: 03;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .details {
            grid-template-columns: 100%;
            row-gap: 8px;
            column-gap: 0;
        }
    }


    // ABOUT PAGE 
    .aboutPage {
        .collapse__btn {
            width: $kasa-collapseDefaultW;
        }

        .collapse__text--shown,
        .collapse__text--hidden {
            width: calc($kasa-collapseDefaultW - 2px);
        }
    }


    // ERROR PAGE
    .errorpage {
        &__title {
            font-size: 32px;
            font-weight: bold;
        }
    }
}