$kasa-color : #FF6060;
$kasa-font : montserrat;
$kasa-lightgray : #f5f5f5;
$kasa-cardShadow : #838383;

$kasa-collapseDefaultW : 100%;
$kasa-collapseAboutW : 80%;
$kasa-accomodationCardWidth: 1fr;

$kasa-ownerPixWidth : 60px; // default width (desktop)